/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: rgba(0,0,0,0.7);
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #fff7e4;
}

a {
  color: inherit;
}

.box {
  margin-left: auto;
  margin-right: auto;
  max-width: 50em;
  padding-left: 2em;
  padding-right: 2em;
}

.detail {
  margin-top: 6em;
  margin-bottom: 6em;
}

.hero {
  margin-top: 1em;
}

nav { 
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 1em;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
  margin-bottom: 1em;
  margin-top: 0;
}
@media all and (max-width: 600px) {
  /* We tell both sidebars to share a row */
  nav {
    flex-direction: column;
    align-items: center;
  }
}
nav h1 {
  margin: 0;
  padding-left: 55px;

  background-image: url("/img/AppIconw128.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 50px;
}
nav a {
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
nav ul {
  margin: 0;
  padding-top: 1em;
  text-align: center;
}
nav li {
  display: inline-block;
  padding: 0 0.5em;
}
nav li:before {
  display: none;
}
nav .contact img {
  width: 15px;
  height: 15px;
  position: relative;
  top: 2px;
}
nav .contact {
  opacity: 0.5
}
nav .contact:hover {
  opacity: 0.8
}

h1 a, h2 a, h3 a {
  text-decoration: none;
}
h1 a:hover, h2 a:hover, h3 a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 24pt;
}

h3 {
  font-size: 20pt;
}

h4 {
  font-size: 16pt;
}

h5 {
  font-size: 14pt;
}

p {
  line-height: 1.7em;
}

footer {
  text-align: center;
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

footer div {
  font-size: 10pt;
}

ul {
  /*list-style: none;*/
}

li {
  padding-left: 0.5em;
  padding-bottom: 0.5em;
}

/*
.post {
  margin-bottom: 6em;
}

.postAuthor {
  text-align: center;
}
.postDate {
  text-align: center;
}*/
code {
  display: inline-block;
  background: #FFF7;
  border: 1px solid #0002;
  border-radius: 4px;
  padding: 0 2px;
  margin: -1px 0;
}
hr {
  border: 1px solid rgba(0, 0, 0, 0.1);
}




.landing .buttons {
  margin-top: 2em;
  margin-bottom: 2em;
}

.landing .screen, .post video, .post img {
  width: 100%;
  max-height: 550px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
}

.post video.no-border, .post img.no-border {
  width: calc(100% + 100px);
  border-radius: 0;
  box-shadow: none;
  margin: 0 -50px ;
}

.landing .hero {
  padding-bottom: 20px;
  text-align: center;
}
.landing .hero h1 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: rgba(0,0,0,1);
  font-size: 28pt;
}
.landing .hero h1 .os {
  font-weight: 200;
}
.landing .hero h2 {
  margin: 0 0 1em 0;
  font-weight: 200;
  font-size: 20pt;
}

.landing h3 {
  text-align: center;
  font-weight: 200;
  font-size: 20pt;
}

.landing h3 strong {
  font-weight: 700;
}

.landing .detail p {
  text-align: center;
}

.post .date {
  display: inline-block;
  width: 120px;
  text-align: right;
  padding-right: 7px;
  font-style: italic;
}
.post .title {
  display: inline-block;
  margin-bottom: 4px;
}
.post .content {
  padding-left: 137px;
}

table.rowcol {
  border-collapse: collapse;
}

table.rowcol tbody tr td:first-child, table.rowcol th {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
}

table.rowcol td, table.rowcol th {
  padding: 10px;
}

table.rowcol td:not(:last-child), table.rowcol th:not(:last-child):not(:first-child):not(:nth-child(2)) {
  border-right: 1px solid rgba(0, 0, 0, 0.025);
  border-left: 1px solid rgba(0, 0, 0, 0.025);
}

table.rowcol tr:last-child td:first-child {
  border-bottom-left-radius: 10px
}

table.rowcol tr:first-child td:first-child, table.rowcol tr:first-child th:nth-child(2) {
  border-top-left-radius: 10px
}

table.rowcol tr:first-child th:last-child {
  border-top-right-radius: 10px
}
table.rowcol tr:last-child td:last-child {
  border-bottom-right-radius: 10px
}

table.rowcol thead th:first-child {
  border: none;
  background: none;
}

table.rowcol tr:nth-child(even) td:not(:first-child) {
  background-color: rgba(0, 0, 0, 0.05);
}

@media all and (max-width: 600px) {
  /* We tell both sidebars to share a row */
  .post .date {
    display: block;
    text-align: left;
  }
  .post h2.title {
    margin-top: 3px;
  }
  .post .content {
    padding: 0;
  }
}
