/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: rgba(0,0,0,1);
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: rgb(255, 255, 255);
}

a {
  color: inherit;
}

.box {
  margin: 0 auto;
  max-width: 50em;
  padding-left: 2em;
  padding-right: 2em;
}

nav { 
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 1em;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
}
nav h1 {
  margin-bottom: 0.4em;
  margin-top: 0;
  text-align: left;
  padding-left: 55px;

  background-image: url("/img/AppIconw128.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 50px;
}
nav a {
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
nav ul {
  float: right;
  margin: 0;
  padding-top: 1em;
}
nav li {
  display: inline-block;
  padding: 0 0.5em;
}

.halved {
  margin: 0 auto;
  display: flex;
}

.left-box, .right-box {
  width: 50%;
  align-self: center;
}

.left-box {
  order: 1;
}
.right-box {
  order: 2;
}

.screen {
  object-fit: cover;
  height: 515px;
}

.left-box.screen {
  object-position: left center;
}
.right-box.screen {
  object-position: right center;
}

.hero {
  padding-bottom: 20px;
  text-align: center;
}
.hero h1 {
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,1);
}
.hero h1 .os {
  font-weight: 200;
  color: rgba(0,0,0,0.7);
}
.hero h2 {
  margin: 0 0 1em 0;
  color: rgba(0,0,0,0.7);
  font-weight: 200;
}

footer {
  text-align: center;
  font-size: 90%;
  padding-top: 2em;
  padding-bottom: 1em;
}

.highlight, .lowlight {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  left: 0;
}

.highlight {
  width: 50%;
  background-color: #e0b202;
  z-index: -3;
}

.lowlight {
  left: 50%;
  width: 50%;
  background-color: white;
  z-index: -1;
}

.sentence h3 {
  font-size: 20pt;
}
.sentence p {
  line-height: 1.7em;
}

.feature-list {
  padding-bottom: 4em;
}
.feature-list h3 {
  text-align: center ;
}

.feature-list li {
  list-style-type: none;
  padding-top: 1em;
}
.home-link {
  display: none;
}

@media only screen and (max-width: 767px) {
  .box {
    border-bottom: 1px solid red;
    padding: 0;
  }

  .highlight, .lowlight {
    display: none;
  }

  .halved {
    display: block;
  }

  .left-box, .right-box {
    width: 100%;
  }

  .screen {
  }

  .hero {
    height: inherit;
    padding-bottom: 0;
  }
}

/*@media only screen and (max-width: 500px) {
  .site-name {
    display: none;
  }
  .home-link {
    display: inline-block;
    font-weight: bold;
  }
  nav ul {
    padding: 0;
    float: none;
  }
  nav {
    border: none;
  }
}
*/