<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{page.title}} - Lacona Blog</title>
  <link rel="alternate" type="application/rss+xml" href="/blog/feed.xml" />
  <meta name="description" content="Lacona 2 for Mac - Don't just search. Command.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/vendor/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" href="/favicon.png">
  <link rel="icon" href="/favicon-32.png" sizes="32x32">
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-61643321-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-61643321-3');
  </script>
</head>
	<body>
    <nav class="box">
      <h1 class="site-name"><a href="/">Lacona</a> <a href="/blog">Blog</a></h1>
      <ul>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/guide">Guide</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a class="contact" href="https://twitter.com/lacona"><img src="/img/twitter-30.png" /></a></li>
        <li><a class="contact" href="mailto:support@lacona.app"><img src="/img/letter-30.png"></a></li>
      </ul>
    </nav>
	<div class="box">
		<div class="post">
			<div class="metadata">
				<div class="date">{{ page.date | date: "%b %-d, %Y" }}</div>
				<h2 class="title"><a href="{{ page.url }}">{{ page.title }}</a></h2>
			</div>
			<div class="content">{{ page.content }}</div>
		</div>
	</div>
	</body>
  <footer class="box">
      <div>&copy; Brandon Horst 2020 - All rights reserved</span>
      <div><a href="/terms">Terms of Use</a> - <a href="/privacy">Privacy Policy</a></div>
  </footer>
</html>